@import 'tailwindcss';

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0 0 0);
}
body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: system-ui, sans-serif, Helvetica, Arial;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-background);
    background: var(--color-foreground);
  }
}